<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicQualityChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MusicQualityChecker.Properties.Settings>
            <setting name="spekPath" serializeAs="String">
                <value>C:\Program Files (x86)\Spek\spek.exe</value>
            </setting>
            <setting name="dlArgument" serializeAs="String">
                <value>{0} {1} -o "{2}\%(title)s.%(ext)s" -f bestaudio --extract-audio --audio-quality 0 --audio-format best</value>
            </setting>
            <setting name="youtubeDLPath" serializeAs="String">
                <value>youtube-dl</value>
            </setting>
        </MusicQualityChecker.Properties.Settings>
    </userSettings>
</configuration>